@model CategoryListModel
@{
    ViewBag.Title = "Index";
}

<!-- Breadcrumb -->
<nav class="hk-breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-light bg-transparent">
        <li class="breadcrumb-item">
            <div class="btn-group dropdown">
                <a href="" data-display="static" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Category
                </a>
                <div class="dropdown-menu" data-dropdown-in="rollIn" data-dropdown-out="rollOut">
                    <a class="dropdown-item" href="@Url.Action("Index","SubCategory")">Child Category</a>
                    <a class="dropdown-item disabled" href="#">Parent Category</a>
                </div>
            </div>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Parent Category</li>
    </ol>
</nav>
<!-- /Breadcrumb -->

<div class="col-xl-12">
    <div class="card card_border p-lg-5 p-3 mb-4">
        <div class="card-body py-3 p-0">
            <h3 class="block__title mb-lg-4 text-center">Parent Category</h3>
            <div class="row">
                <div class="col col-lg-12">
                    <form action="" method="get">
                        <div class="input-group col-lg-8 float-left">
                            <input class="form-control rounded-input m-1" id="search" placeholder="Search." name="searchTerm" value="" type="text" required />
                        </div>

                        <div class="input-group-append col-lg-4 float-left">
                            <button class="btn btn-primary btn-rounded ml-0 m-1" type="submit"><i class="fa fa-search mr-1"></i>Search</button>
                            <a class="btn btn-secondary btn-rounded m-1" href="@Url.Action("Index", "Category")"><i class="fa fa-refresh mr-1"></i>Reset</a>
                            <button class="actionBtn btn btn-info btn-rounded mr-0 m-1" data-href="@Url.Action("Action", "Category")" data-toggle="modal" data-target="#myModal" type="button"><i class="fa fa-plus mr-1"></i>Create</button>
                        </div>
                    </form>
                </div>
            </div>

            <hr />
            <div id="table">
                @{Html.RenderPartial("_Listing", Model);}
            </div>


        </div>
    </div>
</div>


<div class="container">

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">


        </div>
    </div>
    <!-- /.modal -->
</div>

<script>
    $(".actionBtn").click(function () {
        $.ajax({
            url: $(this).attr("data-href")

        }).done(function (response) {
            $("#myModal .modal-dialog").html(response);
        }).fail(function (XHLHttpRequest, textStatus, errorThrown) {
            alert("FAIL");
        });
    });
</script>
