<!DOCTYPE html>
<!--
Template Name: Marvin - Responsive Bootstrap 4 Admin Dashboard Template
Author: Hencework
Contact: https://hencework.ticksy.com/

License: You must have a valid license purchased only from templatemonster to legally use the template for your project.
-->
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Marvin I Form Element</title>
    <meta name="description" content="A responsive bootstrap 4 admin dashboard template by hencework" />


    <!-- select2 CSS -->
    <link href="~/Areas/Dashboard/Content/vendors/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />

    <!-- Custom CSS -->
    <link href="~/Areas/Dashboard/Content/dist/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>


    <!-- HK Wrapper -->
    <div class="hk-wrapper hk-vertical-nav">



        <section class="hk-sec-wrapper">
            <h5 class="hk-sec-title">Select2 Input Tags</h5>
            <p class="mb-40">Tagging can be used in multi-value select boxes. Try entering a value that isn't listed in the dropdown - you'll be able to add it as a new option!</p>
            <div class="row">
                <div class="col-sm">
                    <div class="row">
                        <div class="col-md-12">
                            <select id="input_tags" class="form-control" multiple="multiple">
                                <option selected="selected">orange</option>
                                <option>white</option>
                                <option selected="selected">purple</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Container -->
        <div class="container">
            <!-- Title -->
            <div class="hk-pg-header">
                <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon"><i data-feather="toggle-right"></i></span></span>Form Element</h4>
            </div>
            <!-- /Title -->
            <!-- Row -->
            <div class="row">
                <div class="col-xl-12">

                </div>
            </div>
            <!-- /Row -->
        </div>
        <!-- /Container -->

    </div>
    <!-- /Main Content -->
    </div>
    <!-- /HK Wrapper -->
    <!-- jQuery -->
    <script src="~/Areas/Dashboard/Content/vendors/jquery/dist/jquery.min.js"></script>


    <!-- Select2 JavaScript -->
    <script src="~/Areas/Dashboard/Content/vendors/select2/dist/js/select2.full.min.js"></script>
    <script src="~/Areas/Dashboard/Content/dist/js/select2-data.js"></script>



</body>

</html>