@model UsersListingViewModel
@{
    ViewBag.Title = "Index";
}
<!-- Breadcrumb -->
<nav class="hk-breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-light bg-transparent">
        <li class="breadcrumb-item"> Users </li>
        <li class="breadcrumb-item active" aria-current="page">Index</li>
    </ol>
</nav>
<!-- /Breadcrumb -->
<div class="col-xl-12">
    <div class="card card_border p-lg-5 p-3 mb-4">
        <div class="card-body py-3 p-0">
            <h3 class="block__title mb-lg-4 text-center">Users</h3>
            <div class="row">
                <div class="col col-lg-12">
                    <form id="searchForm">
                        <div class="input-group">
                            <input class="form-control" id="searchTerm" placeholder="Search." name="searchTerm" value="" type="text" />
                            <select id="roleId" name="roleId" class="form-control">
                                <option value="" selected disabled hidden> Roles </option>
                                @if (ViewBag.Roles != null)
                                {
                                    foreach (var role in ViewBag.Roles)
                                    {
                                        <option value="@role.Value">@role.Text</option>
                                    }
                                }

                            </select>
                            <div class="btn-group" role="group" aria-label="Basic example">

                                <button id="searchBtn" class="btn btn-outline-primary" style="border-radius:unset" type="button"><i class="fa fa-search mr-1"></i>Search</button>
                                <button onclick="loadtable();" type="reset" class="btn btn-outline-secondary"><i class="fa fa-refresh mr-1"></i>Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <hr />
            <div id="table">
                @*@{Html.RenderPartial("_Listing",Model);}*@
                @Html.Action("Listing", "Users", new { SearchTerm = Model.SearchTerm })
            </div>


        </div>
    </div>
</div>

<div class="container">

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            @*<div class="modal-content">


                </div>*@
        </div>
    </div>
    <!-- /.modal -->
</div>

<script>

    $('#searchBtn').click(function () {
        debugger;
        var search = $('#searchTerm').val();
        var roleId = $('#roleId option:selected').val();
        $.ajax({
            type:"GET",
            url: '@Url.Action("Listing", "Users")' + '?searchTerm=' + search + '&roleId=' + roleId,
            success: function (response) {
                $('#table').html('');
                $('#table').html(response);
            },
            error: function (ex) {
                alert("fail!");
            }
        });
    });

    function loadtable() {

    };
</script>
